.webResource {
    @media only screen and (max-width: 800px) {
        display: none;
    }

    a { 
        text-decoration: underline;
        color: #c5c5c5;
    }
}

.mobileResource {
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
    }

    a { 
        text-decoration: underline;
        color: #c5c5c5;
    }
}

.deliverables-imageContainer {
    margin: 0 -75px -50px -75px;

    img {
        width: 100%;
        position: relative;
        top: 5px;
    }

    @media only screen and (max-width: 800px) {
        margin: 0 -40px -40px -40px;
    }
}