.webResource {
    @media only screen and (max-width: 800px) {
        display: none;
    }
}

.mobileResource {
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
    }
}

.deliverables-imageContainer {
    margin: 0 -75px -50px -75px;

    img {
        width: 100%;
        position: relative;
        top: 5px;
    }
}