footer {
    padding: 50px 0 50px;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 650px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        p {
          margin: 0;  
        }

        .footer-logosContainer {
            display: flex;
            flex-direction: row;

            .footer-logo {
                display: flex;
                margin-right: 30px;
            }
            .footer-logo:hover {
                text-shadow: 0px 0px 7px #f8676577;
            }
        }

        .footer-links {
            display: flex;
            flex-direction: row;

            @media only screen and (max-width: 650px) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }

            .footer-socialLinks {
                display: flex;
                flex-direction: row;
                list-style: none;
                padding: 0;
                margin: 0;
                
                @media only screen and (max-width: 650px) {
                    margin-bottom: 20px;
                }

                a {
                    margin: 0 20px 0 0;
                    padding: 3px;
                    border: 1px solid white;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    position: relative;
                }
                img {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                    height: 25px;
                    width: 25px;
                    // margin-left: 2px;
                }
            }
            .footer-registerButton {
                margin: auto;
                transition: .2s;
            }
            .footer-registerButton:hover {
                color: #f86865;
                text-shadow: 0px 0px 7px #f8676577;
                cursor: pointer;
            }
        }
    }
}