main {
  background-color: #0d0d0d;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

a.middle {
  position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4176f9;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hero {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    margin: 15px 0;
  }

  img:nth-child(5) {
    margin-top: 25px;
  }
}

.hero-words {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  h2{
    color: #bababa;
    font-size: 20px;
  }

  @media only screen and (max-width: 650px) {
    margin-top: 100px;
  }

  // @media only screen and (max-width: 800px) {
  //   margin-top: 50px;
  // }

  img {
    max-width: 100%;
  }
}

.down-arrow {
  position: absolute;
  bottom: 0;
}

.about {
  background-color: #1a1a1a;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    font-size: 18px;
    width: 75%;
    @media only screen and (max-width: 650px) {
      // width: 100%;
    }
  }
}

.about-image {
  float: right;

  // @media only screen and (max-width: 768px) {
  //   width: 30%;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  // }

  @media only screen and (max-width: 1200px) and (min-width: 651px) {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.about-position {
  display: flex;
  position: relative;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.about-text {
  padding: 100px 15%;
  position: relative;
  display: block;
  color: #c5c5c5;

  @media only screen and (max-width: 651) {
    padding: 100px 5%;
  }

  @media only screen and (max-width: 650px) {
    padding: 100px 5%;
  }
}

.big-desc {
  font-size: 22px;
  font-weight: 700;
}

.red-highlight {
  color: #fb645b;
}

.blue-highlight {
  color: #4176f9;
}

.startup-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;

  img {
    pointer-events: none;
    @media only screen and (max-width: 1200px) and (min-width: 651px) {
      width: 100%;
    }
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    // align-items: flex-start;
  }

  // img:nth-child(1){
  //     @media only screen and (max-width:650px){
  //         width: 90%;
  //     }
  // }

  div {
    margin: 0 25px;
  }

  div:nth-child(n + 2) {
    display: block;
    margin: 0 25px;
  }

  p {
    font-size: 21px;
    @media only screen and (max-width: 650px) {
      margin-top: 0;
    }
  }
}

.three-hundred {
  @media only screen and (max-width: 650px) {
    width: 100%;
  }
}

.stats-section {
  background-color: #1a1a1a;
  margin-top: -15px;
}

.stats-title {
  margin-top: 0;
  margin-left: 25px;
  padding-top: 5%;
  font-size: 22px;
  font-weight: bold;
  @media only screen and (max-width: 650px) {
    padding-top: 10%;
  }
}

.stats-container {
  padding-left: 15%;
  padding-right: 15%;

  @media only screen and (max-width: 650px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.ready {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }

  p {
    font-size: 24px;
  }
}

// .balloons{
//     background-image: url(../assets/gif/balloons.gif);
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.balloon-wrapper {
  position: relative;
  text-align: center;
}

.balloons-width {
  height: 100%;

  @media only screen and (max-width: 650px) {
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .fadeIn {
    display: flex;
    justify-content: center;
  }
}

.startupBig {
  min-height: 500px;
  background-image: url(../assets/svg/StartupBig.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  @media only screen and (max-width: 650px) {
    min-height: 100px;
  }
}

.different {
  text-align: center;
  margin-top: 100px;

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 22px;
    text-align: left;
    color: #c5c5c5;
    width: 85%;
    margin: auto;
    @media only screen and (max-width: 650px) {
      width: 100%;
    }
  }
}

.gallery-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.fade-in {
  animation: fadeIn ease 10s;
  // -webkit-animation: fadeIn ease 20s;
  // -moz-animation: fadeIn ease 5s;
  // -o-animation: fadeIn ease 5s;
  // -ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
