main{
    background-color: #0d0d0d;
}


.hero{
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    img:nth-child(3){
        margin-top: 35px;
        margin-bottom: 15px;
    }
}

.hero-words{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.down-arrow{
    position: absolute;
    bottom: 25px;
}

.about{
    background-color: #1A1A1A;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    p{
        font-size: 18px;
        width: 75%;
        @media only screen and (max-width:650px){
            width: 100%;
        }
    }
}

.about-image{
    float: right;
}

.about-position{
    display: flex;

    @media only screen and (max-width:650px){
        flex-direction: column;
    }
}

.about-text{
    padding: 100px 15%;
    position: relative;
    display: block;
}


.big-desc{
    font-size: 22px;
    font-weight: 700;
}

.red-highlight{
    color: #FB645B;
}

.blue-highlight{
    color: #4176F9;
}

.startup-numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media only screen and (max-width:650px){
        flex-direction: column; 
    }
    
    div{
        margin: 0 25px;
    }
}

.stats-section{
    background-color: #1a1a1a;
}

.ready{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.startupBig{
    min-height: 500px;
    background-image: url(../assets/svg/StartupBig.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.different{
    text-align: center;
    margin-top: 100px;

    h1{
        font-size: 48px;
    }

    p{
        font-size: 22px;
    }
}

.gallery-img{
    width: 100%;
}
