.hero-container {
    width: 100%;
    min-height: 450px;
    text-align: center;
    background-image: url(../assets/gif/bgwaves.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media only screen and (max-width: 1000px) {
        background-image: none;
    }
    @media only screen and (max-width: 800px) {
        min-height: 350px;
    }
}

.hero-itemContainer {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    flex-direction: column;
    padding-bottom: 50px;
}

.hero-smallHeader {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: .5em;

    color: #BABABA;
    @media only screen and (max-width: 800px) {
        font-size: 17px;
    }

}


.hero-bigHeader {
    font-size: 120px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: fit-content;
    margin: auto;

    line-height: 120px;
    background: linear-gradient(90deg, #677CFC -8.94%, #E56F6E 112.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 800px) {
        font-size: 80px;
        line-height: 80px;
    }

    @media only screen and (max-width: 400px) {
        font-size: 64px;
        line-height: 64px;
    }
}