nav {
    display: flex;
    width: 85vw;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    // position: absolute;
    // transform: translate(-50%);
    // left: 50%;
    a {
      text-decoration: none;
      color: #F1F1F1;
      background: none;
      transition: .2s;
    }
    a, .nav-subMenuContainer {
      margin-top: 10px;
    }
    a:hover {
      color: #f86865;
      text-shadow: 0px 0px 7px #f8676577;
      cursor: pointer;
    }
}

.desktopNav {
  @media only screen and (max-width: 800px) {
    display: none;
  }
}


.nav-startupLogo {
  display: flex;
  img {
    margin-top: -10px;
    width: 80px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(228, 84, 84, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(247, 68, 68, 0.7));
    transition: .2s;
  }
  img:hover {
    -webkit-filter: drop-shadow( 3px 3px 5px rgba(228, 84, 84, 0.904));
    filter: drop-shadow( 3px 3px 5px rgba(247, 68, 68, 0.877));
  }
    
}

.nav-startupLogo:hover {
  img {
    -webkit-filter: drop-shadow( 3px 3px 5px rgba(228, 84, 84, 0.904));
    filter: drop-shadow( 3px 3px 5px rgba(247, 68, 68, 0.877));
  }
}

.nav-itemContainer {
    padding-inline-start: 0;
    display: flex;
    width: 45vw;
    max-width: 570px;
    min-width: 320px;
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    li {
        list-style: none;
        padding-bottom: 20px;
    }
    li:hover {
      cursor: pointer;
    }
}

.nav-subMenuContainer {
  position: relative;
}

.nav-subMenuContainer:hover .nav-subMenuItems {
    opacity: 1;
    visibility: visible;
    top: 30px;
}


.nav-subMenuItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    background: #1A1A1A;
    border: 1px solid rgba(82, 82, 82, 0.8);
    border-radius: 3px;
    // padding: 10px 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    a {
      color: #B5B5B5;
      font-weight: normal;
      padding: 7px 20px;
      background: none;
      margin-top: 0px;
      
    }
    a:hover {
      color: #F1F1F1 !important;
      text-shadow: none;
      background: #4176F9;
    }
    // a:first-child {
    //   padding-top: 6px;
    // }
    // a:last-child {
    //   padding-bottom: 6px;
    // }
}

.nav-registerButton {
  background: linear-gradient(54.01deg, #FB645B -32.13%, #4176F9 122.05%);
  border: 1px solid rgba(233, 233, 233, 0.4);
  border-radius: 30px;
  padding: 10px 40px;
  margin-top: 15px;
  transition: .5s;
  transform: scale(1,1);
  // width: 80px;
}

.nav-registerButton:hover {
  text-shadow: none;
  color: #F1F1F1;
  transform: scale(1.02,1.02);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(65,118,249,0.4); 
  box-shadow: 0px 0px 10px 3px rgba(65,118,249,0.4);
  cursor: not-allowed;
}

.nav-active {
  color : #FB645B !important;
}

//MOBILE NAV

.mobileNav {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  margin-top: 0;
  top: 0;
  background-color: #0d0d0dad;
  @media only screen and (max-width: 800px) {
    display: flex;
  }
}

.mobileNav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}

.mobileNav-button {
  background: #323232;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
}

.mobileNav-button:hover {
  cursor: pointer;
}

.mobileNav-button:focus {
  outline:none;
}

.mobileNav-startupLogo {
  display: flex;
  img {
    margin-top: -10px;
    width: 80px;
    height: 50px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(228, 84, 84, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(247, 68, 68, 0.7));
    transition: .2s;
  }

}

.mobileNav-menu {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0d0d0d4d;
  backdrop-filter: blur(3px);
  z-index: 100;
  top: 0;
  opacity: 1;
  @media only screen and (min-width: 800px) {
    display: none !important;
  }
}

// .showMenu {
//   display: flex;
//   overflow-y: hidden;
// }

.mobileNav-menuContainer {
  position: absolute;
  height: 100vh;
  width: 400px;
  background: #1A1A1A;
  right: -80%;
  @media only screen and (max-width: 450px) {
    width: calc(100vw - 80px);
  }
}

.mobileNav-menuTop {
  margin-top: 20px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobileNav-x {
  background: #323232;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
}

.mobileNav-x:hover {
  cursor: pointer;
}

.mobileNav-x:focus {
  outline:none;
}

.mobileNav-menuLinks {
  padding-left: 40px;
  margin-top: 40px;
  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-bottom: 15px;
    transition: .3s;
    @media only screen and (max-width: 450px) {
      font-size: 24px;
    }
  }
  a:hover {
    margin-left: 10px;
  }
  a:after {
    display: inline-block;
    content: ' ';
    background-image: url('../assets/svg/nav-arrow.svg');
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    margin-top: 8px;
    margin-left: 3px;
    @media only screen and (max-width: 450px) {
      margin-top: 10px;
    }
  } 
}

.mobileNav-registerButton {
  margin-left: 40px;
  margin-top: 20px;
  display: inline-flex;
}

#mobileNav-socialLinks {
  padding-left: 36px;
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.mobileNav-active {
  color : #FB645B !important;
  text-shadow: 0px 0px 7px #f8676577;
  // font-weight: bold;
}

.mobileNav-active:after {
  display: none !important;
}


//HEADROOM CSS

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 150ms ease-in-out;
    background-color: #0d0d0dad;
    padding-bottom: 15px;

  }

  .headroom--unfixed {
    position: fixed;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 150ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }