nav {
    display: flex;
    width: 85vw;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    // position: absolute;
    // transform: translate(-50%);
    // left: 50%;
    a {
      text-decoration: none;
      color: #F1F1F1;
      background: none;
      transition: .2s;
    }
    a:hover {
      color: #f86865;
      text-shadow: 0px 0px 7px #f8676577;
      cursor: pointer;
    }
}


.nav-startupLogo {
  display: flex;
  img {
    margin-top: -10px;
    width: 70px;
  }
  img:hover {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(228, 84, 84, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(247, 68, 68, 0.7));
  }
    
}

.nav-itemContainer {
    padding-inline-start: 0;
    display: flex;
    width: 40vw;
    max-width: 450px;
    min-width: 320px;
    justify-content: space-between;
    li {
        list-style: none;
        padding-bottom: 20px;
    }
    li:hover {
      cursor: pointer;
    }
}

.nav-subMenuContainer {
  position: relative;
}

.nav-subMenuContainer:hover .nav-subMenuItems {
    opacity: 1;
    visibility: visible;
    top: 30px;
}


.nav-subMenuItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    background: #1A1A1A;
    border: 1px solid rgba(82, 82, 82, 0.8);
    border-radius: 3px;
    // padding: 10px 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    a {
      color: #B5B5B5;
      font-weight: normal;
      padding: 7px 20px;
      background: none;
      
    }
    a:hover {
      color: #F1F1F1;
      text-shadow: none;
      background: #4176F9;
    }
    // a:first-child {
    //   padding-top: 6px;
    // }
    // a:last-child {
    //   padding-bottom: 6px;
    // }
}


//HEADROOM CSS

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 150ms ease-in-out;

  }
  .headroom--unfixed {
    position: fixed;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 150ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }