nav {
    display: flex;
    width: 85vw;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    // position: absolute;
    // transform: translate(-50%);
    // left: 50%;
}


.nav-startupLogo {
    // DELETE THESE WHEN SVG IS PUT IN PLACE!!
    margin-block-start: 1em;
    margin-block-end: 1em;
    // 
    
}

.nav-itemContainer {
    padding-inline-start: 0;
    display: flex;
    width: 40vw;
    max-width: 450px;
    min-width: 320px;
    justify-content: space-between;
    li {
        list-style: none;
    }
}

.nav-subMenuContainer:hover .nav-subMenuItems {
    display: flex;
}

.nav-subMenuItems {
    position: absolute;
    display: none;
    flex-direction: column;
    padding-inline-start: 0;
}


//HEADROOM CSS

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 150ms ease-in-out;

  }
  .headroom--unfixed {
    position: fixed;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 150ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }