.partners-team-partners {
    margin-top: 40px;
    background-color: #1A1A1A;
    width: 100vw;
    position: relative;
}

.partners-team-partners-cs {
    height: 400px;
    @media only screen and (max-width: 960px) {
        height: 600px;
    }
}

.partners-team-comingSoon {
    height: 400px;
    position: absolute;
    right: 0;
    @media only screen and (max-width: 960px) {
        top: 40%;
        height: 320px;
     }
}

.partners-team-partners-comingSoonContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @media only screen and (max-width: 960px) {
       top: 20%;
    }
    h2 {
        font-size: 42px;
        span {
            color: #FB645B;
        }
    }
}

.partners-team-partners-info {
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 800px) {
        flex-direction: column;
        padding: 50px 0;
        h2, a {
            margin: auto;
            text-align: center;
        }
        a {
            margin-top: 40px;
        }
    }
    h2 {
        font-size: 42px;
        span {
            color: #FB645B;
        }
    }
    img {
        height: 200px;
    }

}

.partners-team-team {
    margin-top: 40px;
    h2 {
        margin: auto;
        font-size: 35px;
        padding-top:30px;
        padding-bottom: 25px;
        span {
            color: #FB645B;
        }
    }
}

.partners-team-teamCardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: auto;
    margin-top: 20px;
    @media only screen and (max-width: 1250px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 930px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 620px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.partners-team-teamCard {
    background-color: #1A1A1A;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: flex;
    img {
        width: 100px;
        height: 100px;
    }
    div {
        margin-left: 15px;
    }
    h3 {
        font-size: 20px;
        margin-block-start: .3em;
        margin-block-end: 0;
        color: #f1f1f1;
    }
    p {
        margin-block-start: .7em;
        margin-block-end: 0;
        color: #FB645B;
    }
}

.partners-team-partnerLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-team-partnerLogoRow {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .partners-team-partnerLogoLink {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.partners-team-partnerLogoBig{
    max-width: 225px;
    max-height: 200px;
}

.partners-team-partnerLogoSmall{
    max-width: 150px;
    max-height: 100px;
}

.partners-team-partnerLogoSmallImage{
    width:150px;
    height: 59.75px !important;
}

.judge-card  {
    background-color: #1A1A1A;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: flex;
    img {
        width: 115px;
        height: 115px;
        border-radius: 5px;
    }
    div {
        margin-left: 15px;
    }
    h3 {
        font-size: 22px;
        margin-block-start: .3em;
        margin-block-end: 0;
        color: #f1f1f1;
    }
    p {
        margin-block-start: .4em;
        margin-block-end: 0;
        font-size: 16px;
        color: #FB645B;
    }
}

.experts-judgesSection{
    h2 {
        font-size: 42px;
        span {
            color: #FB645B;
        }
    }

    .experts-judgesCardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: auto;
        margin-top: 20px;
        @media only screen and (max-width: 930px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.mentor-card  {
    background-color: #1A1A1A;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: flex;
    img {
        width: 85px;
        height: 85px;
        border-radius: 5px;
    }
    div {
        margin-left: 15px;
    }
    h3 {
        font-size: 20px;
        margin-block-start: .3em;
        margin-block-end: 0;
        color: #f1f1f1;
    }
    p {
        margin-block-start: .5em;
        margin-block-end: 0;
        color: #FB645B;
    }
}

.experts-mentorSection {
    h2 {
        font-size: 42px;
        span {
            color: #FB645B;
        }
    }


    .experts-mentorCardGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: auto;
        margin-top: 20px;
        @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.judge-card, .mentor-card {
    transition: .3s;
}

.judge-card:hover, .mentor-card:hover {
    box-shadow: 0px 0px 15px 3px #677bfc44;
}