.resource-card-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 30px;

    @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        margin-top: 0;
    }
}

.span-4 {
    grid-column-start: span 4;
}

.span-5 {
    grid-column-start: span 5;
}

.span-6 {
    grid-column-start: span 6;
}

.fullSpan {
    grid-column-start: span 10;
}