.schedule-card {
    display: flex;
    overflow: hidden;

    &.flipped {
        flex-direction: row-reverse;

        .schedule-card-imageWeb {
            margin: -50px 20px -50px -50px;

            @media only screen and (max-width: 1100px) {
                margin: 0 10px 0 -50px;
                img {
                    border-radius: 0;
                }
            }

            @media only screen and (max-width: 800px) {
                margin: -50px 25px -50px -50px;
            }
        }
    }

    .schedule-card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .schedule-card-title {
            margin: 0 0 20px;
            font-size: 48px;
        }

        .schedule-card-date {
            margin: 0;
            font-size: 22px;
            color: #FB645B;
        }
        
        p {
            margin: 0;
        }

        .schedule-card-body {
            margin-bottom: 30px;
        }

        .schedule-card-attendance {
            margin-top: 15px;
            color: #FB645B;
        }

        .schedule-card-timeLink {
            margin: 0 -10px;
            padding: 20px;
            background: #2F2F2F;
            border-radius: 10px;
            font-style: italic;
            text-align: center;
        }
    }

    .schedule-card-imageWeb {
        margin: -50px -50px -50px 0px;
        img {
            height: 100%;
            border-radius: 10px;
        }

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    .schedule-card-imageMobile {
        margin: 20px 0;
        display: none;

        img {
            max-width: 100%;
        }
        
        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

.schedule-card.resource-card-gradient {
    .schedule-card-content {
        .schedule-card-date {
            color: #fff;
        }
        
        p {
            color: #fff;
        }

        .schedule-card-timeLink {
            background: rgba(216, 212, 212, 0.38);
        }
    }
}