@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/CircularStd-Book.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/CircularStd-BookItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/CircularStd-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/CircularStd-BookItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: 'Circular', sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
}
